@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --border-color: #3b2066;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", "san-serif";
  background-color: #2a2a72;
  background-image: linear-gradient(315deg, #2a2a72, 0%, #009ffd, 74%);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
}

#search {
  border: none;
  outline: none;
  border-radius: 10px;
  height: 40px;
  width: 300px;
  padding: 0 10px;
  margin-bottom: 2.5rem;
}

.user-container {
  width: 800px;
}

#search:hover,
.user-card:hover,
.user-card img {
  border: 1px solid var(--border-color);
  -webkit-box-shadow: -2px -1px 15px 7px rgba(59, 32, 102, 0.5);
  -moz-box-shadow: -3px -2px 30px 14px rgba(59, 32, 102, 0.425);
  box-shadow: -4px -3px 45px 21px rgba(59, 32, 102, 0.35);
}

.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--border-color);
  width: 100%;
  padding: 2rem;
  border-radius: 1.5rem;
  cursor: pointer;
  background-color: #3b2066;
  background-image: linear-gradient(315deg, #3b2066 0%, #4c11ac 74%);
}

.user-card img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 7px solid var(--border-color);
}

.user-card .user-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.user-stats {
  width: 100%;
}

.user-stats ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-stats ul li {
  margin-left: 5px;
  color: #fff;
  font-size: 1.5rem;
}
.user-stats ul li i {
  margin-right: 10px;
}

.user-stats ul li:nth-child(2) i {
  color: red;
}

.user-card h2,
.user-card p {
  color: #fff;
}

.user-card #bio {
  color: grey;
}

@media (max-width: 762px) {
  .user-container {
    width: 90%;
  }
}

@media (min-width: 762px) and (max-width: 961px) {
  .user-container {
    width: 90%;
  }
}
